.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Filters Section */

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .filter-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  
  .filter-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .filters select,
  .filters input[type="range"] {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
  }
  
  .range-input {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
  }
  
  .range-min,
  .range-max {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    color: #333;
  }
  
  .range-min {
    left: -22px;
  }
  
  .range-max {
    right: -22px;
  }
  
  .range-selected {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #4caf50;
    text-align: center;
  }
  
  .filters button {
    align-self: center;
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .filters button:hover {
    background-color: #45a049;
  }
  
  /* Product Items */
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    text-align: center;
  }
  
  .product-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .product-item img {
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .product-item h3 {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .product-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .product-item .rating {
    font-size: 14px;
    color: #ff9800; 
    font-weight: bold;
  }

  
  /* Common loader styles */
.loading-spinner {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Full-page loader */
  .full-page-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .full-page-loader p {
    margin-left: 10px;
    font-size: 1.2em;
    color: #333;
  }

  .loading-text{
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #888;
  }
  
  /* No items message */
  .no-items-message {
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .error {
    text-align: center;
    font-size: 16px;
    color: red;
    margin-top: 20px;
  }
  
  .loading-more-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  /* Filter responsive */
  @media (min-width: 768px) {
    .filters {
      justify-content: space-between;
    }
  
    .filters select,
    .filters input {
      width: 200px;
    }
  
    .filters button {
      width: auto;
    }
  }
  
  @media (max-width: 767px) {
    .filters {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .filters select,
    .filters input {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .filters button {
      width: 100%;
    }
  
    .range-input {
      margin-left: 24px;
    }
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-container {
    background: white;
    width: 500px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slide-down 0.3s ease-out;
  }
  
  @keyframes slide-down {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .modal-close {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  .modal-body {
    padding: 20px;
    text-align: center;
  }
  
  .modal-footer {
    padding: 15px;
    border-top: 1px solid #ddd;
    text-align: right;
  }
  
  .modal-close-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-close-button:hover {
    background-color: #e53935;
  }


  